@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&family=Montserrat:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}

:root {
  --text-gray: #202020;
  --light-orange: #FFCB47;
  --body-bg-color: #FAFAFA;
}

body {
  background-color: var(--body-bg-color);
  background-image: url(/src/assets/background-bubble.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 70rem;
}

h1, h2, h3, p, li {
  color: var(--text-gray);
}

h1, h2, h3 {
  font-family: 'Elsie Swash Caps', cursive;
}

h1 {
  font-size: 8.2rem;
}

p {
  font-size: 1.6rem;
  opacity: 0.5;
}
